@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");
:root {
    --main-color: #0ab451;
    --secondary-color: #c4c4c4;
    --highlight-color: #c4a2fc;
    --text-color: #111;
    --background-color: #0d8e89;
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}
.inire {
  
}
.creadors {
  margin-bottom: 90px;
}

.serviceimg {
    border-radius: 32px;
}

.oferimtxt {
    color: var(--text-color);
}

.titolofer {
    color: var(--secondary-color);
}

.fotofer {
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.fotofer:hover {
    cursor: pointer;
    transform: scale(1.004);
}

.moving {
    --border-width: 3px;
    border-radius: var(--border-width);
}

.moving:hover {
    background: linear-gradient( 60deg, #749207, #4c630c, #08770e, #278a0e, #4ba82e, #abf25f, #5ff281, #34cf94);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: movColores 4s alternate infinite;
}

@keyframes movColores {
    50% {
        background-position: 100% 50%;
    }
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.pujar{
    position: sticky;
    top:83%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    opacity: .6;
    z-index:1000;
}
.pujar:hover{
    opacity: 1;
}
@media (max-width:767px) {
    .pujar{
        padding-right: 20px;  
        top:86%;  
    }
}
.sticky {
    background-color: #a0a0a0;
    background-image: url("arrow-up.svg");
    padding:20px;
    background-position:cover;
    background-position: 50% 30%;
    background-repeat:no-repeat;
    width: fit-content;
    border-radius: 50%;
    z-index:1000;
}

.focus {
    position: absolute;
    top: 16px;
    left: 40px;
    font-family: neon;
    z-index: 20;
    color: #fb4264;
    font-size: 50px;
    line-height: 5vw;
    text-shadow: 0 0 3vw #f40a35;
}

.hour {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: neon;
    color: #426dfb;
    z-index: 20;
    font-size: 50px;
    line-height: 5vw;
    text-shadow: 0 0 3vw #2356ff;
}

.focus {
    animation: focus 1s ease infinite;
    -moz-animation: focus 1s ease infinite;
    -webkit-animation: focus 1s ease infinite;
}

@keyframes focus {
    0%,
    100% {
        text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
        color: #fed128;
    }
    50% {
        text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
        color: #806914;
    }
}

.hour {
    animation: hour 2s linear infinite;
    -moz-animation: hour 2s linear infinite;
    -webkit-animation: hour 2s linear infinite;
    -o-animation: hour 2s linear infinite;
}

@keyframes hour {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
        color: #28d7fe;
    }
    50% {
        text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
        color: #146c80;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Rubik", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior:smooth;
    letter-spacing:1px;
    word-spacing:1px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 0;
    border: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn:hover {
    transform: scale(0.98);
    background-color: var(--main-color);
    color: rgb(24, 23, 23);
}

.logo {
    position: absolute;
    top: 16px;
    left: 40px;
    z-index: 20;
}

.logo h1 {
    font-size: 1.6rem;
    font-weight: 700;
}


/* NAVIGATION */

.toggle {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: var(--main-color) url("https://github.com/bradtraversy/creative-agency-website/blob/master/images/menu.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    z-index: 40;
    border-radius:0px 0px 0px 15px;
}

.toggle.active {
    background: var(--main-color) url("https://github.com/bradtraversy/creative-agency-website/blob/master/images/close.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 39;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.active {
    left: 0;
}

.navigation ul {
    position: relative;
    list-style-type: none;
}

.navigation ul li {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}

.navigation ul li a {
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
}

.navigation ul li a:hover {
    color: var(--main-color);
}

.navigation .social-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a {
    display: inline-block;
    transform: scale(0.5);
}

.navigation .email-icon {
    position: absolute;
    bottom: 20px;
}


/* SECTIONS */

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    padding: 100px 40px;
    margin-top: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    margin: 20px 0 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
}


/* HOME SECTION */

section.home {
    flex-direction: row;
    margin-top: 0;
}

.home-content {
    position: relative;
    z-index: 10;
    max-width: 600px;
}

/* Reference: https://stackoverflow.com/questions/43683187/how-can-i-create-custom-underline-or-highlight-for-text-in-html-or-css */

.highlight {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 50%, var(--highlight-color) 50%);
    padding: 0 0.25rem;
}

.highlight1 {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0) 50%, var(--main-color) 50%);
    padding: 0 0.25rem;
}

.home-img {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 0 0 0 15px;
}


/* SERVICES */

.services {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;/*40,.*/
    text-align: center;
}

.services .service .icon img {
    max-width: 100px;
}

.services .service {
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 20px;
    color: var(--secondary-color);
}

.services .service p {
    line-height: normal;
    font-size: 1.1rem;
    margin: 10px 0;
}


/* WORK */

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
    width: 100%;
    height: 100%;
}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.portfolio .item .action a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
}

.portfolio .item .action:hover {
    opacity: 1;
}


/* CONTACT */

.contact {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.contact-form {
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    padding: 30px 30px 20px;
}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form .input50,
.contact-form .input100 {
    width: 100%;
    margin: 0;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 300;
    margin: 10px 0;
    resize: none;
}

.contact-form .row textarea {
    height: 150px;
}

.card {
    background-color: #4c4c4c;
}

.contact-form .row input[type="submit"] {
    background-color: var(--secondary-color);
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    border: 0;
    cursor: pointer;
}

.contact-info {
    width: 100%;
    margin-top: 20px;
    background: #f9f9f9;
    padding: 30px 30px 20px;
}

.contact-info .info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;
}

.contact-info .info-box .details h4 {
    color: var(--secondary-color);
}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: var(--text-color);
}


/* MEDIA QUERIES */
@media (min-width: 768px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    .services .service {
        box-shadow: none;
    }
    .services .service:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 1068px) {
    .home-img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 110%;
    }
    .logo {
        top: 30px;
        left: 100px;
    }
    .logo h1 {
        font-size: 2.1rem;
    }
    .navigation ul li a {
        font-size: 2.3rem;
    }
    section {
        padding: 100px;
    }
    .services {
      grid-template-columns: repeat(3, 3fr);
      
    }
    .contact {
        flex-direction: row;
    }
    .contact-form {
        width: calc(100% - 400px);
        padding: 60px 40px 20px;
    }
    .contact-form .row {
        flex-direction: row;
    }
    .contact-form .input50 {
        width: 50%;
        margin: 0 10px;
    }
    .contact-form .input100 {
        margin: 0 10px;
    }
    .contact-info {
        width: 350px;
        margin-top: 0;
        padding: 60px 40px 20px;
    }

#calendari {
  height: 500px;
}
/*calendari*/

